.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.role {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #555;
}

.email {
    color: #a13977;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1rem;
}

.phone {
    font-size: 1rem;
    color: #333;
    margin-top: 5px;
}
.teamGrid {
    display: grid;
    gap: 20px;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
   
}

.profileCard {
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
