.cardGrid {
    box-sizing: border-box;
    padding: 50px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px;
    justify-items: center;
    margin: auto;
  }
  
  .recipe-container {
    text-align: center;
  }
  