
.footer {
  background-color: #113826;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  height: fit-content;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}

@media (max-width: 650px) {
  .footerGrid {
    grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns */
  }
}

@media (max-width: 400px) {
  .footerGrid {
    grid-template-columns: 1fr; /* Stack in a single column */
  }
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.footerColumn a{
  text-decoration: none;
  color: black;
  margin: 5px 0;
}
.footerColumn a:has(>h4){
  margin: 0;
}

.footerColumn h4,
.footerColumn a > h4{
  margin: 5px 0 ;
  padding-bottom: 10px;
  font-weight: bold;
  color: #9c7945;
}

.footerColumn a{
  text-decoration: none;
  color: black;
  margin: 5px 0;
}


.footerColumn > *,
.footerColumn a{
  color: rgb(217, 223, 229);
}

.footerColumn a:hover {
  color: #ff4500;
}



