:root{
    --img-size:350px;
    --card-size:350px
}

.card{
    padding: 10px;
    width: var(--card-size);
    border: 2px solid rgb(225, 225, 210);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card > img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    max-width: var(--img-size);
    border-radius: 8px;
}