:root{
    --img-size:350px;
    --card-size:350px;
    --distance-for-lable-vertical:10px;
    --distance-for-lable-horisontal:10px;
}

.card{
    position: relative;
    padding: 0 0 10px 0 ;
    width: var(--card-size);
    border: 0.5px solid rgb(225, 225, 210);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.card > *{
    margin: 0;
}

.card h3{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.card > img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    max-width: var(--img-size);
    
}

.rating{
    position: absolute;
    top: var(--distance-for-lable-vertical);
    left: var(--distance-for-lable-horisontal);
}
.time{
    position: absolute;
    top: var(--distance-for-lable-vertical);
    right: var(--distance-for-lable-horisontal);
}
