html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 ;
}
main{
  max-width: 1500px;
  margin: auto;
  width: 100%;
}
#root {
  padding: 0 100px;
  margin: 0 auto;
  height: 100%;
  
}


