html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  width: 100%;
  margin: 0;
  padding: 0 ;
}
main{
  max-width: 1500px;
  margin: auto;
  width: 100%;
}
#root {
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr minmax(40px , fit-content);
  grid-template-columns: 1fr;
  padding: 0;  
}


