.detailedDrink{
    position: relative;

}
.detailedDrink > h1{
    text-align: center;
    margin-bottom: 5px;
}
.categories > h5{
    text-align: center;
    margin: 5px 0;
}
.cactegories__list{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.ingridients{
    margin: 30px 0;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 15px;
  min-height: 300px;
}

.ingridients_image_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingridients__image{
  display: block;
    border-radius: 8px;
    width: 100%;
  }
  .ingredients__table-list h4{
        text-align: center;
  }
  .labels{
    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 0;
    top: 0;
  }
  .description{
    text-align: center;
    margin: auto;
   display: block;
   max-width:500px ;
   margin-top: 20px;
  }
  .instructions > h3{
    text-align: center;
  }
  .buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .comments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ingredients__table  h4{
    margin-top: 0;
    text-align: center;
  }
  @media (max-width:900px){
    .ingridients{
      margin: 30px 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-columns: auto;
      gap: 15px;
  }
  .ingridients__image {
    display: none;
  }

  }