.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.inputWrapper{
    width: 100%;
    max-width: 630px;
}
.errorMessage{
    padding: 4px;
    margin: 10px 0 ;
    color: rgb(173, 59, 59);
}
.sendBtn{
    margin: 15px 0 ;
}