.menuItem {
    /* Style from DrinkCard */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.highlighted{
    background-color: rgb(203, 203, 203);
}