.difficulty {
    display: flex;
    justify-content: flex-end; 
    font-size: 1.5rem; 
    text-align: right;
    width: 100%;
  }
  
  .difficulty strong {
    margin-right: 10px; 
  }
  
  .easy {
    color: green;
  }
  
  .medium {
    color: orange;
  }
  
  .hard {
    color: red;
  }